{% extends 'core/detail.html' %}
{% load static i18n model_extras %}

{% block detail_content %}
        <div class="mb-4" data-bs-toggle="tooltip"
             title="{% trans 'Preview image' %}">
            <label class="form-text">{% trans 'Preview' %}</label>
            <div><img src="{{ object.preview_as_base64 }}"
                      class="rounded img-thumbnail preview-image-lg"
                      alt="{% trans 'WMS preview' %}"/>
            </div>
        </div>
    {% field_name_and_value object as fields %}
    {% for name, help_text, value in fields %}
        {% if name != 'preview' %}
        <div class="mb-4" data-bs-toggle="tooltip"
             title="{{ help_text }}">
            <label class="form-text">{{ name|capfirst }}</label>
            <div>{{ value }}</div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
