{% extends 'core/form.html' %}
{% load model_extras i18n %}

{% block list_actions %}

    <!-- Layer actions -->

    <div class="align-content-center">
        <div class="btn-group" role="group" aria-label="Layer actions">
            {% blocktranslate asvar title %}Save changes{% endblocktranslate %}
            <button type="submit" form="{{ instance.pk }}"
               class="btn btn-outline-primary" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-save"></i>
            </button>

            {% blocktranslate asvar title %}Delete layer{% endblocktranslate %}
            <a href="#"
               class="btn btn-outline-danger" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-trash-alt"></i>
            </a>
        </div>
    </div>

{% endblock %}

{% block form_right %}
    {% include "core/permission_table.html" %}
{% endblock %}
