{% extends 'core/change_list.html' %}
{% load static %}

{% block list_actions %}
    <div class="btn-group" role="group" aria-label="List Actions">
        <a href="{% url 'maps:maps_ogc_entry' %}?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.3.0" target="_blank" class="btn btn-outline-primary">WMS Capabilities</a>
        <a href="{% url 'maps:maps_ogc_entry' %}?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0" target="_blank" class="btn btn-outline-primary">WFS Capabilities</a>
        <a href="{% url 'maps:change_list_dataset' %}" target="_blank" class="btn btn-outline-primary">Publish New</a>
    </div>
{% endblock %}

{% block change_list_item %}
    <div class="list-group-item list-group-item-action p-4" aria-current="true">

        <div class="d-flex flex-row">
                <div class="me-3">
                    <a href="#">
                    <img src="data:image/png;base64,{{ item.preview_as_base64 }}" class="border shadow-sm" style="width: {{ item.preview_width }}px; height: {{ item.preview_height }}px"
{#                         alt="{% trans 'QGIS Logo' %}"#}
                         class="rounded img-thumbnail preview-image"/>
                    </a>
                </div>

                <div class="d-flex flex-column flex-grow-1 justify-content-around">

                    <div>
                        <a href="#">
                            <h4 class="mb-1">{{ item.title }}</h4>
                        </a>
                        <h6 class="mb-1">{{ item.name }}</h6>
                    </div>


                    <div class="align-content-bottom">
                        {% if item.public %}
                            <span class="badge rounded-pill text-bg-primary">public</span>
                        {% endif %}
                    </div>
                </div>

                <div class="align-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="#" target="_blank"
                           class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Show</a>
                        <a href="#"
                           class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Details</a>
                    </div>
                </div>

        </div>

    </div>
{% endblock %}
