{% extends 'core/entity_list.html' %}
{% load i18n %}

{%  block list_item_image %}
    <img src="{{ item.preview_as_base64 }}"
         class="rounded img-thumbnail preview-image-lg"
         alt="{% trans 'WMS preview' %}"
    />
{% endblock %}
{% block list_item_pills_additional %}
    {% blocktranslate asvar title with val=item.queryable|yesno:"yes,no,unknown" %}WMS layer provides a twin WFS layer to query features: {{ val }}{% endblocktranslate %}
    <span class="badge rounded-pill {% if item.is_queryable %}text-bg-primary{% else %}text-bg-light{% endif %}"
          data-bs-toggle="tooltip"
          title="{{ title }}"
          aria-label="{{ title }}">
        WfsQuery</span>

    {#   TODO PI: These functionalities do not exist yet #}
    {% blocktranslate asvar title with val=item.public|yesno:"yes,no,unknown" %}WMS layer provides a legend: {{ val }}{% endblocktranslate %}
    <span class="badge rounded-pill {% if False %}text-bg-primary{% else %}text-bg-light{% endif %}"
          data-bs-toggle="tooltip"
          title="{{ title }}"
          aria-label="{{ title }}">
        GetLegend</span>
    {#   TODO PI: These functionalities do not exist yet #}
    {% blocktranslate asvar title with val=item.public|yesno:"yes,no,unknown" %}WMS layer provides feature infos at coordinates: {{ val }}{% endblocktranslate %}
    <span class="badge rounded-pill {% if False %}text-bg-primary{% else %}text-bg-light{% endif %}"
          data-bs-toggle="tooltip"
          title="{{ title }}"
          aria-label="{{ title }}">
        GetFeatureInfo</span>
{% endblock %}
