{% extends 'core/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="h-100 d-flex flex-column flex-grow-1" style="min-height:0">

        <form method="post" id="bulk-action-form"
              action="{% url permissions_url_name object.pk %}{% querystring %}"
              hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
              hx-target="#permissions-list"
              hx-swap="innerHTML">
            {% csrf_token %}
        </form>

        <!-- Toolbar -->
        <nav class="navbar navbar-expand gap-4 flex-wrap">

            <!-- Search -->
            <div class="nav-item d-flex">
                <input id="searchInput" class="form-control me-2" 
                       name="{{ search_param }}" type="search"
                       title="{{ search_fields_hint }}"
                       data-bs-toggle="tooltip"
                       placeholder={% trans 'Search term' %} aria-label={{ search_fields_hint }}
                       value="{{ search_term }}"
                       hx-get="{{ request.path }}{% querystring %}"
                       hx-trigger="keyup changed, search"
                       hx-target="#permissions-list"
                       hx-swap="innerHTML"
                >
            </div>
        
            <!-- Entity filters -->
            <div class="nav-item d-flex gap-2 align-items-center">
                <span class="text-muted d-none d-lg-block">{%  trans "filter by" %}</span>
            
                {% blocktranslate asvar title %}Show list of group permissions{% endblocktranslate %}
                     <a href="{% url permissions_url_name object.pk %}{% querystring entity='groups' offset=None %}"
                   class="btn btn-outline-primary {% if permissions_entity_field == "groups" %} active {% endif %}"
                   role="button"
                   data-bs-toggle="tooltip"
                   title="{{ title }}"
                   aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                    {% trans "groups" %}
                </a>

                {% blocktranslate asvar title %}Show list of user permissions{% endblocktranslate %}
                     <a href="{% url permissions_url_name object.pk %}{% querystring entity='users' offset=None %}"
                   class="btn btn-outline-primary {% if permissions_entity_field == "users" %} active {% endif %}"
                   role="button"
                   data-bs-toggle="tooltip"
                   title="{{ title }}"
                   aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                    {% trans "users" %}
                </a>
            </div>

            <!-- Bulk operations -->
            <div id="bulk-action-container" class="nav-item d-flex gap-2 align-items-center d-none">
                <div class="dropdown">
                    <button
                            class="btn btn-outline-primary dropdown-toggle"
                            type="button"
                            id="bulk-action-dropdown"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-expanded="false"
                    >
                        <i class="fa fa-list"></i>
                        {% trans "Select bulk action" %}
                    </button>

                    <div class="dropdown-menu p-3" aria-labelledby="bulk-action-dropdown" style="z-index: 1050;">
                        {% for action_value, action_label in action_choices %}
                            <div class="dropdown-item form-check form-check-inline">
                                <input
                                        class="form-check-input ms-0 me-2"
                                        type="radio"
                                        id="bulk-action-{{ forloop.counter }}"
                                        name="action"
                                        value="{{ action_value }}"
                                        form="bulk-action-form"
                                >
                                <label class="form-check-label w-100"
                                       for="bulk-action-{{ forloop.counter }}">
                                        {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission=action_label apply_color=True%}
                                    <span class="ps-1">{%  trans action_label %}</span>
                                </label>
                            </div>
                        {% endfor %}
                        <button type="submit" form="bulk-action-form" class="btn btn-outline-primary mt-2 text-nowrap"
                            onclick="bootstrap.Dropdown.getOrCreateInstance(this.closest('.dropdown').querySelector('[data-bs-toggle=dropdown]')).hide()">
                            {% trans "Apply to selected entries" %}
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <div id="permissions-list" class="row m-0 overflow-auto mt-4">
            {% include "core/drf/default/includes/permissions_list_htmx.html" %}
        </div>
    </div>


    {% block pagination %}
        {% include "core/drf/default/includes/pagination.html" %}
    {% endblock %}




    <script>
        /**
         * Toggle the selection state of all rows of the permission list
         */
        function select_all() {
            const entityField = "{{ permissions_entity_field|escapejs }}";
            const selectAllCheckbox = document.getElementById('bulk-select-all');
            const entityCheckboxes = document.querySelectorAll(`input[type="checkbox"][name="${entityField}"]`);
            entityCheckboxes.forEach(checkbox => {
                checkbox.checked = selectAllCheckbox.checked;
            });
            toggleBulkActionVisibility();
        }
        
        function toggleBulkActionVisibility() {
            const entityField = "{{ permissions_entity_field|escapejs }}";
            const checkedEntityCheckboxes = document.querySelectorAll(`input[type="checkbox"][name="${entityField}"]:checked`);
            const bulkActionContainer = document.getElementById('bulk-action-container');
            if (Array.from(checkedEntityCheckboxes).length > 0) {
                bulkActionContainer.classList.remove('d-none');
            } else {
                bulkActionContainer.classList.add('d-none');
            }
        }

        toggleBulkActionVisibility()
    </script>

{% endblock %}
