{% extends 'core/form.html' %}
{% load i18n %}
{% block list_actions %}

    <!-- Layer actions -->

    <div class="align-content-center">
        <div class="btn-group" role="group" aria-label="Layer actions">
            {% blocktranslate asvar title %}Confirm Delete{% endblocktranslate %}
            <button type="submit" form="{{ object.pk }}"
               class="btn btn-outline-danger" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                Confirm
            </button>
        </div>
    </div>

{% endblock %}

{% block form_details %}

    <!-- Column, scrollable -->

    <div class="col h-100 px-4 overflow-auto">

        <!-- Form content -->

        <h5>Removing this Element has impact on the following content in Georama:</h5>

        <ul class="list-group">
            {% include "core/includes/nested_delete.html" with objects=related_objects %}
        </ul>

        {% if protected %}
            <div class="alert alert-danger mt-3">
                <strong>The project can't be deleted!</strong><br>
                The following elements are protected:
                <ul>
                    {% for obj in protected %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <form id="{{ object.pk }}" method="post" style="display:inline;">
                {% csrf_token %}
            </form>
        {% endif %}
    
    </div>


{% endblock %}
