{% extends 'core/home.html' %}
{% load static i18n model_extras %}

{% block extra_head %}
    {{ block.super }}
{% endblock %}

{% block list_actions %}

    <!-- Layer actions -->

    <div class="align-content-center">
        <div class="btn-group" role="group" aria-label="Layer actions">
            {% if perm_change %}
            {% blocktranslate asvar title %}Edit instance{% endblocktranslate %}
            <a href="{% url update_view_name object.pk %}"
               class="btn btn-outline-primary" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-pen"></i>
            </a>
            {% endif %}

            {% if perm_delete %}
            {% blocktranslate asvar title %}Delete item{% endblocktranslate %}
            <a href="{% url delete_view_name object.pk %}"
               class="btn btn-outline-danger" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-trash-alt"></i>
            </a>
            {% endif %}

            {% if perm_manage_permission %}
            {% blocktranslate asvar title %}Edit permissions{% endblocktranslate %}
            <a href="{% url permission_view_name object.pk %}"
               class="btn btn-outline-primary" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-lock"></i>
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block form_details %}

    <!-- Column, scrollable -->

    <div class="col h-100 px-4 overflow-auto">

        <!-- Form content -->

        {% block detail_content %}
            {% field_name_and_value object as fields %}
            {% for name, help_text, value in fields %}

                <div class="mb-4" data-bs-toggle="tooltip"
                     title="{{ help_text }}">
                    <label class="form-text">{{ name|capfirst }}</label>
                    <div>{{ value }}</div>
                </div>
            {% endfor %}
        {% endblock %}

    </div>

{% endblock %}
