{% extends 'core/home.html' %}
{% load static i18n model_extras %}

{% block list_actions %}

    <!-- Layer actions -->

    <div class="align-content-center">
        <div class="btn-group" role="group" aria-label="Layer actions">
            {% blocktranslate asvar title %}Save changes{% endblocktranslate %}
            <button type="submit" form="{{ object.pk }}"
               class="btn btn-outline-primary" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-save"></i>
            </button>

            <a href="{% url delete_view_name object.pk %}"
               class="btn btn-outline-danger" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-trash-alt"></i>
            </a>

            {% blocktranslate asvar title %}Edit permissions{% endblocktranslate %}
            <a href="{% url permission_view_name object.pk %}"
               class="btn btn-outline-primary" role="button"
               data-bs-toggle="tooltip"
               title="{{ title }}"
               aria-label="{{ title }}">
                <i class="fa fa-lock"></i>
            </a>
        </div>
    </div>

{% endblock %}

{% block content %}

    <!-- Scrollable form header -->

    <div class="pt-4">

        <div class="container">
            <div class="row">

                <!-- Left column-->

                <div class="col form-content-scrollable overflow-auto">

                    <!-- Form content -->

                    {% load crispy_forms_tags %}
                    <form id="{{ object.pk }}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>


                </div>
            </div>
        </div>

    </div>

{% endblock %}
