{% extends 'core/home.html' %}

{% block extra_head %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="content-sticky-header border-bottom mb-2">
        {% block content_header %}

        {% endblock %}
    </div>
    
    <div class="content-scrollable">
    
    {% block form %}
        {% load crispy_forms_tags %}
        {% if forms|length > 1 %}
            {% for form in forms %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="georama-form-tab-{{ form.model }}" data-bs-toggle="tab" data-bs-target="#georama-form-tab-content-{{ form.model }}"
                            type="button" role="tab" aria-controls="georama-form-tab-{{ form.model }}-pane" aria-selected="true">{{ form.model }}
                    </button>
                </li>
            </ul>
            {% endfor %}
            {% for form in forms %}
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="georama-form-tab-content-{{ form.model }}" role="tabpanel" aria-labelledby="georama-form-tab-{{ form.model }}"
                     tabindex="0">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% for form in forms %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
            {% endfor %}
        {% endif %}

    {% endblock %}
    
    </div>
    
{% endblock %}
