{% extends 'core/home.html' %}

{% block extra_head %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <!-- Sticky form header: has a fixed max height of 100px -->
    
    <div id="form-header-sticky" class="shadow-sm rounded-bottom p-3">
        {% block content_header %}

        {% endblock %}
    </div>

    <!-- Scrollable form header -->
    
    <div class="pt-4 form-content-scrollable">

        <div class="container">
            <div class="row">

                <!-- Left column-->
            
                <div class="col form-content-scrollable overflow-auto">

                    <!-- Form content -->
                
                    {% block form_left %}
                    {% load crispy_forms_tags %}
                    {% if forms|length > 1 %}
                        {% for form in forms %}
                            <ul class="nav nav-tabs" id="myTab"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active"
                                            id="georama-form-tab-{{ form.model }}"
                                            data-bs-toggle="tab"
                                            data-bs-target="#georama-form-tab-content-{{ form.model }}"
                                            type="button" role="tab"
                                            aria-controls="georama-form-tab-{{ form.model }}-pane"
                                            aria-selected="true">{{ form.model }}
                                    </button>
                                </li>
                            </ul>
                        {% endfor %}
                        {% for form in forms %}
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active"
                                     id="georama-form-tab-content-{{ form.model }}"
                                     role="tabpanel"
                                     aria-labelledby="georama-form-tab-{{ form.model }}"
                                     tabindex="0">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for form in forms %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                            </form>
                        {% endfor %}
                    {% endif %}

                    {% endblock %}

                </div>

                <!-- Right column-->
            
                <div class="col form-content-scrollable overflow-auto">

                    {% block form_right %}
                    {% endblock %}

                </div>
            </div>
        </div>
    
    </div>
    
{% endblock %}
