{% extends 'core/entity_list.html' %}
{% load static i18n %}

{% block list_actions %}
    <script>
        function assign_permission(principal_id, permission_ids, principal_type) {
            fetch(`{% url "assign_permission_to_user_or_group" %}`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    principal_id: principal_id,
                    permission_ids: permission_ids,
                    principal_type: principal_type
                })
            })
                .then(response => {
                    if (response.ok) {
                        window.location.assign("{{ success_url }}");
                    } else {
                        console.log(response);
                    }
                });
        }
    </script>
{% endblock %}

{% block change_list_item %}
    <div class="list-group-item list-group-item-action p-4">

        <div class="d-flex flex-row">

            <!-- Title and description -->

            <div class="d-flex flex-column flex-grow-1 justify-content-around">

                <div>
                    <h4 class="mb-2">{{ item.name }}</h4>
                    <div class="mb-1"></div>
                </div>

            </div>

            <!-- Buttons group with layer actions -->

            <div class="align-content-center">

                <div class="btn-group mr-2" role="group" aria-label="Feature actions">

                    {% blocktranslate asvar title %}Add this group as permitted{% endblocktranslate %}
                    <a onclick="assign_permission('{{ item.id }}', {{ permissions }}, 'group')"
                       class="btn btn-outline-primary" role="button"
                       title="{{ title }}"
                       aria-label="{{ title }}"
                       data-bs-toggle="tooltip">
                        <i class="fa fa-plus"></i>
                    </a>

                </div>
            </div>

        </div>

    </div>

{% endblock %}
