{% extends 'core/home.html' %}

{% block list_actions %}
    {% if list_actions|length > 0 %}
        <div class="btn-group" role="group" aria-label="List Actions">
            {% for title, view_name in list_actions %}
                <a href="{% url view_name %}" class="btn btn-outline-primary">{{ title }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% block list %}
    {% if object_list|length == 0 %}
        <div class="container d-flex justify-content-center align-items-center">
            <div class="fs-1 fw-bold text-center">
                No items in this list
            </div>
        </div>
    {% else %}
        <div class="list-group">
            {% for item in object_list %}
                {% block change_list_item %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ item }}</h5>
                        </div>
                    </a>
                {% endblock %}
            {% endfor %}
        </div>
    {% endif %}
    {% endblock %}


    {% block pagination %}

        <div class="d-flex mt-4">

            <!-- Items per page -->

            <div class="dropdown me-2">
                <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {{ per_page }}
                </a>
                <ul class="dropdown-menu">
                    {% for ppo in per_page_options %}
                        {% if per_page != ppo %}
                            <li><a class="dropdown-item"
                                   href="?page=1&per_page={{ ppo }}">{{ ppo }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <nav aria-label="page navigation">
                <ul class="pagination">

                    <!-- Page back -->

                    <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                        <a class="page-link" role="button"
                           href="?page={{ prev_page }}&per_page={{ per_page }}">&laquo;</a>
                    </li>

                    <!-- Page number -->

                    {% for page_number in paginator.page_range %}
                        <li class="page-item {% if page_number == page.number %}active{% endif %}">
                            <a class="page-link" role="button"
                               href="{% if page_number == page.number %}#
                                     {% else %}?page={{ page_number }}&per_page={{ per_page }}
                                     {% endif %}"
                               aria-current="page">{{ page_number }}</a>
                        </li>
                    {% endfor %}

                    <!-- Page forward -->

                    <li class="page-item">
                        <a role="button"
                           class="page-link {% if pages|length == current_page or absolute_count == 0 %}disabled{% endif %}"
                           href="?page={{ next_page }}&per_page={{ per_page }}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endblock %}
{% endblock %}
