<!-- Search Input -->
<div class="row mb-2">
    <div class="col">
        <input type="text" id="tableFilter" class="form-control" placeholder="Search datasets...">

        <span class="input-group-append"
              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                    <span id="clearFilter" class="input-group-text">&#10005;</span>
                </span>

    </div>
</div>

<script>
    {% include "core/publish_searchbar.js" %}
</script>
