<form method="post" action="{% url 'save_group_permission' %}">
    {% csrf_token %}
    <fieldset>
        <legend>Group Permissions</legend>
        <div>
            <label for="id_name">Group Name:</label>
            <input type="text" name="name" id="id_name" value="{{ group.name }}" readonly>
        </div>
        <div>
            <label for="id_permissions">Permissions:</label>
            <select name="permissions" id="id_permissions" multiple>
                {% for permission in all_permissions %}
                    <option value="{{ permission.id }}"
                            {% if permission in group.permissions.all %}selected{% endif %}>
                        {{ permission.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <button type="submit">Save</button>
</form>