{% extends 'core/home.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'landing' %}">Home</a></li>
        <li class="breadcrumb-item">Settings</li>
    </ol>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ project_count }}</h5>
                        <p class="card-text">
                            <a class="nav-link" href="{% url 'admin:index' %}">Django Admin Panel</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

{% endblock %}
