DJANGO_CONFIGURATION=Dev

QSL_LOG_LEVEL=debug
QSL_REPLICAS=1
QSL_REDIS_URL=redis://qsl-redis
QSL_DATA_ROOT=/io/data

# SECURITY WARNING: don't run with GEORAMA_DEBUG=true in production!
GEORAMA_DEBUG=true

GEORAMA_DATA_INTEGRATION_ROOT=/io/data

GEORAMA_DB_PW=test
GEORAMA_DB_USER=postgres
GEORAMA_DB_PORT=5432
GEORAMA_DB_HOST=georama-db
GEORAMA_DB_NAME=postgres

GEORAMA_ALLOWED_HOSTS=localhost

GEORAMA_LOCAL_DATA=<path-to-your-qgis-projects>

# space separated list of allowed hosts
GEORAMA_ALLOWED_HOSTS="localhost"

# space separated list of allowed origins
GEORAMA_CORS_ALLOWED_ORIGINS="http://localhost https://localhost"
GEORAMA_CORS_ALLOW_CREDENTIALS=false

# space separated list of csrf trusted origins
GEORAMA_CSRF_TRUSTED_ORIGINS="https://localhost:9309 http://localhost:9308 http://localhost:4242 https://app.localhost:8080 https://localhost:8080"

# space separated list of authentication methods for georama
# implemented methods at the moment: "BASIC_HTTP"
GEORAMA_AUTHENTICATION_METHODS="BASIC_HTTP"

# if georama runs behind a secure proxy, the ssl forward header should be respected
# allowed values are: True/False, this setting should only be used if you trust the
# proxy server setting the header!!!
GEORAMA_SECURE_PROXY_SSL_HEADER=False
