############################################################################
# Georama development settings
############################################################################

DJANGO_CONFIGURATION=Dev

QSL_LOG_LEVEL=debug
QSL_REDIS_URL=redis://qsl-redis

GEORAMA_DATA_INTEGRATION_ROOT=/io/data

GEORAMA_DB_PW=test
GEORAMA_DB_USER=postgres
GEORAMA_DB_PORT=5432
GEORAMA_DB_HOST=georama-db
GEORAMA_DB_NAME=postgres

GEORAMA_WEBGISURL=https://localhost:9309

GEORAMA_QFIELD_LINK_URL=https://app.qfield.cloud/api/v1/
GEORAMA_QFIELD_LINK_USER=<qfield_cloud_user_name>
GEORAMA_QFIELD_LINK_PASSWORD=<qfield_cloud_password>
