QSL_LOG_LEVEL=debug
QSL_REPLICAS=1
QSL_REDIS_URL=redis://qsl-redis
QSL_DATA_ROOT=/io/data

GEORAMA_QMELEON_DATA_MOUNT=/io/data

GEORAMA_DB_PW=test
GEORAMA_DB_USER=postgres
GEORAMA_DB_PORT=5432
GEORAMA_DB_HOST=georama-db
GEORAMA_DB_NAME=postgres
