.idea/
.vscode/
.env
*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__
reqs.txt

docs/_build/
dist/
build/
htmlcov/

.tox/
node_modules

dependency-graphs/
test-results/
uml-diagrams/
pydoer-graphs/

poetry.lock

# LOGS

cookie-py.log
georama.log
src/georama/georama.log

.venv
docs/site


# GeoGirafe themes.json examples
map.cartoriviera.ch.json
mapnv.c.json
