{% extends 'core/home.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col form-content-scrollable overflow-auto">
                {% load crispy_forms_tags %}
                <form id="{{ object.tid }}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% for item in cache.formset_tree %}
                        {% include 'maps/metadata/sub_form.html' with item=item %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

    </div>
{% endblock %}
