{% extends "admin/change_list.html" %}
{% block content %}
  <h2>Projects</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in qfield_cloud_projects %}
            <tr class="even" role="row">
                <td>{{ item.name }}</td>
                <td>{{ item.id }}</td>
                <td><a onclick="showWaitModalOverlay()" href="{% url 'georama.qfield_link:download_qfield_cloud_project' item.id %}" class="btn btn-high btn-primary mr-2"><i class="fa fa-download"></i>Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
