{% extends 'core/published_item_index.html' %}
{% load static i18n published_as_extras %}

{% block list_actions %}
    <div class="btn-group" role="group" aria-label="List actions">
        <span style="pointer-events: none" class="btn btn-high btn-outline-primary" aria-hidden="true">{% trans 'OAPIF' %}</span>
        {% blocktranslate asvar title %}Open OAPIF Landing page{% endblocktranslate %}
        <a
                href="{% url 'features:collections' %}"
                target="_blank"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                title="{{ title }}"
                aria-label="{{ title }}">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        {% blocktranslate asvar title %}Open OAPIF JSON endpoint{% endblocktranslate %}
        <a
                href="{% url 'features:collections' %}?f=json"
                target="_blank"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                title="{{ title }}"
                aria-label="{{ title }}">
            <i class="fa-solid fa-plug"></i>
        </a>
    </div>
{% endblock %}

{% block item_card_image %}
<img src="{% static 'images/OGC_Logo.svg' %}"
     alt="{% trans 'OGC Logo' %}"
     class="card-img-top img-thumbnail"
     style="border: none;"/>
{% endblock %}

{% block item_card_badges %}
    {% can_add item request.user as add_perm %}
    {% if add_perm %}
    {% blocktranslate asvar title %}You can add features to this OAPIF layer.{% endblocktranslate %}
    <span class="badge rounded-pill text-bg-primary"
          data-bs-toggle="tooltip"
          title="{{ title }}"
          aria-label="{{ title }}">
            <i class="fa fa-plus"></i></span>
    {% endif %}
    {% can_change item request.user as change_perm %}
    {% if change_perm %}
    {% blocktranslate asvar title %}You can change features on this OAPIF layer.{% endblocktranslate %}
    <span class="badge rounded-pill text-bg-primary"
          data-bs-toggle="tooltip"
          title="{{ title }}"
          aria-label="{{ title }}">
            <i class="fa fa-pen"></i></span>
    {% endif %}
    {% can_delete item request.user as delete_perm %}
    {% if delete_perm %}
    {% blocktranslate asvar title %}You can delete features from this OAPIF layer.{% endblocktranslate %}
    <span class="badge rounded-pill text-bg-primary"
          data-bs-toggle="tooltip"
          title="{{ title }}"
          aria-label="{{ title }}">
            <i class="fa fa-trash-alt"></i></span>
    {% endif %}
    {% blocktranslate asvar title %}Available Coordinate Reference System{% endblocktranslate %}
    <span class="badge rounded-pill text-bg-primary"
          data-bs-toggle="tooltip"
          title="{{ title }} {{ item.dataset.crs_to_qsl.auth_id }}"
          aria-label="{{ title }} {{ item.dataset.crs_to_qsl.auth_id }}">
            {{ item.dataset.crs_to_qsl.auth_id }}</span>
{% endblock %}
