{% extends 'core/list.html' %}
{% load static i18n published_as_extras %}

{% block list_actions %}
    <div class="btn-group" role="group" aria-label="List actions">
        {% blocktranslate asvar title %}Open OAPIF Landing page{% endblocktranslate %}
        <a
                href="{% url 'features:collections' %}?f=json"
                target="_blank"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                title="{{ title }}"
                aria-label="{{ title }}">
            OGCAPI JSON
        </a>
    </div>
{% endblock %}

{% block change_list_item %}
    <div class="list-group-item list-group-item-action p-4">

        <div class="d-flex flex-row flex-wrap">

            <!-- Thumbnail -->

            <div class="me-3">

                <a href="{% url 'features:collection-detail' item.pk %}" target="_blank">
                    <img src="{% static 'images/OGC_Logo.svg' %}"
                         alt="{% trans 'OGC Logo' %}"
                         class="rounded img-thumbnail preview-image"/>
                </a>
            </div>

            <!-- Title and description -->

            <div class="d-flex flex-column flex-grow-1 justify-content-around">

                <div>
                    <a href="{% url 'features:collection-detail' item.pk %}"
                       class="link-offset-3 link-underline link-underline-opacity-75" target="_blank">
                        <h4 class="mb-2">{{ item.title }}</h4>
                    </a>
                    <div class="mb-1">{{ item.name }}</div>
                </div>


                <!-- Pills with layer functionalities -->

                <div class="align-content-bottom">
                {% can_add item request.user as add_perm %}
                {% if add_perm %}
                {% blocktranslate asvar title %}You can add features to this OAPIF layer.{% endblocktranslate %}
                <span class="badge rounded-pill text-bg-primary"
                      data-bs-toggle="tooltip"
                      title="{{ title }}"
                      aria-label="{{ title }}">
                        <i class="fa fa-plus"></i></span>
                {% endif %}
                {% can_change item request.user as change_perm %}
                {% if change_perm %}
                {% blocktranslate asvar title %}You can change features on this OAPIF layer.{% endblocktranslate %}
                <span class="badge rounded-pill text-bg-primary"
                      data-bs-toggle="tooltip"
                      title="{{ title }}"
                      aria-label="{{ title }}">
                        <i class="fa fa-pen"></i></span>
                {% endif %}
                {% can_delete item request.user as delete_perm %}
                {% if delete_perm %}
                {% blocktranslate asvar title %}You can delete features from this OAPIF layer.{% endblocktranslate %}
                <span class="badge rounded-pill text-bg-primary"
                      data-bs-toggle="tooltip"
                      title="{{ title }}"
                      aria-label="{{ title }}">
                        <i class="fa fa-trash-alt"></i></span>
                {% endif %}
                </div>
            </div>

            <!-- Buttons group with layer actions -->

            <div class="align-content-center ms-auto">

                <div class="btn-group mr-2" role="group" aria-label="Feature actions">

                    {% blocktranslate asvar title%}Show OGC API Feature collection endpoint{% endblocktranslate %}
                    <a href="{% url 'features:collection-detail' item.pk %}"
                       target="_blank"
                       class="btn btn-outline-primary" role="button"
                       data-bs-toggle="tooltip"
                       title="{{ title }}"
                       aria-label="{{ title }}">
                        <i class="fa fa-network-wired"></i>
                    </a>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
