{% comment %}
    permission: The name of the permission or permission action defined in the model, e.g. "can_view" or "prevent_delete"
    apply_color: [True, False] applies a meaningful color to the icon
{% endcomment %}


<span class="{% if not apply_color %}{% elif "prevent" in action_label %}text-muted{% elif "revoke" in action_label %}text-danger{% else %}text-primary{% endif %}">
    {% if "view" in permission %}
        <i class="fa fa-eye"></i>
    {% elif "grant" in permission %}
        <i class="fa fa-eye"></i>
    {% elif "create" in permission %}
        <i class="fa fa-circle-plus"></i>
    {% elif "update" in permission %}
        <i class="fa fa-pen"></i>
    {% elif "delete" in permission %}
        <i class="fa fa-circle-minus"></i>
    {% elif "revoke" in permission %}
        <i class="fa fa-trash"></i>
    {% else %}
        <i class="fa fa-circle"></i>
    {% endif %}
</span>
