{% extends 'core/home.html' %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">

                        <div class="gauge-container">
                            <!-- The Ring -->
                            <div class="gauge-ring" 
                                 style="background: conic-gradient(from 225deg,
                                var(--gauge-orange) 0deg {{ gauge_outdated }},
                                var(--gauge-green) {{ gauge_outdated }} {{ gauge_linked }},
                                var(--gauge-gray-light) {{ gauge_linked }} 270deg,
                                transparent 270deg)"
                            >
                            </div>

                            <!-- Central Text -->
                            
                            <div class="gauge-center">
                                <span class="main-number">{{ project_db_count }}</span>
                                <span class="h5">
                                     <a href="{% url 'data_integration:project-list' %}"
                                        class="link-underline link-underline-opacity-0 stretched-link">
                                         QGIS Projects<br>linked</a>
                                </span>
                               
                            </div>

                            <!-- Bottom Stats -->
                            
                            <div class="gauge-footer">
                                <div class="stat-row">
                                    <span class="stat-num gray">{{ project_count }}</span>
                                    <span class="badge rounded-pill text-bg-light">available</span>
                                </div>
                                <div class="stat-row">
                                    <span class="stat-num orange">{{ outdated_count }}</span>
                                    <span class="badge rounded-pill text-bg-warning">outdated</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
