@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600;700;800&display=swap");

:root {
    --georama-font: "Georama", "Segoe UI", "Helvetica Neue", Arial, sans-serif;

    --georama-green: #7c993d;
    --georama-green-rgb: 124, 153, 61;
    --georama-green-dark: #4a6317;
    --georama-green-light: #95b354;
    --georama-green-desat: #859568;

    --georama-border-color: #e6ecd9;

    --georama-yellow: #d2a444;
    --georama-yellow-rgb: 210, 164, 68;
    --georama-yellow-dark: #956d19;
    --georama-yellow-desat: #a19272;

    --georama-gray: #333333;

    --brand-ink: #1f2a1c;
    --brand-cream: #f7f9f2;

    --navbar-height: 80px;
    --navbar-offset: var(--navbar-height);
    --navbar-height-scrolled: 80px;
    --breadcrumb-height: 65px;
    --footer-height: 50px;

    --georama-inherited-permission: #4a88e3;
}

[data-bs-theme=dark] {
    --georama-border-color: rgb(89, 90, 87);
    --brand-ink: #fff;
    --brand-cream: #333333;
}
