{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify jazzmin %}

{% block content_title %}
    <a type="button" class="btn btn-primary mr-3" href="{% url 'admin:data_integration_project_changelist' %}"
       data-toggle="tooltip" data-placement="bottom" title="{% trans 'back to project list' %}">
        <i class="fa fa-arrow-left"></i></a>
    {{ opts.verbose_name_plural|capfirst }}
{% endblock %}

{% block field_sets %}
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                
                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="mb-3 mr-3">
                        <img src="{% static 'images/qgis.png' %}"
                             alt="{% trans 'QGIS Logo' %}"
                             class="rounded img-thumbnail"
                             style="width: 130px;"/>
                    </div>
                    <div class="d-flex flex-column m-3">
                        <h4>{{ original }}</h4>
                        <h6>{{ original.name }}</h6>
                    </div>
                </div>
                
                {% get_changeform_template adminform as changeform_template %}
                {% include changeform_template %}
            </div>
        </div>
    </div>
{% endblock %}


{% block submit_buttons_bottom %}
    <div>
        <div class="form-group">
            <a href="{% url 'admin:data_integration_dataset_list' original.pk %}"
               class="btn btn-secondary form-control"
               data-toggle="tooltip" data-placement="top"
               title="{% trans 'Show list of datasets' %}">
                <i class="fa fa-layer-group"></i>
                {% trans 'Dataset list' %}
            </a>
        </div>
    </div>
    
    {{  block.super }}
{% endblock %}
