{% extends 'admin/base_site.html' %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Project Group</th>
                <th>Project</th>
                <th>Hash</th>
                <th>Has Config</th>
                <th>Project File Status</th>
            </tr>
        </thead>
        <tbody>
            {% for group in qgis_project_file_structure.groups %}
                {% for project in group.projects %}
                <tr class="even" role="row">
                    <td>{{ group.name }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.hash }}</td>
                    <td>{{ project.has_config }}</td>
                    <td>
                        <div class="d-flex flex-nowrap">
                            <a onclick="showWaitModalOverlay()" href="{% url 'data_integration:project-export' group.name project.name %}" class="btn btn-high btn-success mr-2"><i class="fa fa-file-alt"></i> extract</a>
                            {% if project.has_config %}
                                <a href="{% url 'data_integration:project-register' group.name project.name %}" class="btn btn-high btn-success"><i class="fa fa-arrow-alt-circle-up"></i> integrate</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
