{% extends 'core/drf/default/form.html' %}
{% load static i18n %}

{% block list_actions %}

    <div class="btn-group" role="group" aria-label="Project actions">


        {% if perms.data_integration.edit_project or perms.data_integration.add_project %}
            {% include "integration/drf/project/includes/buttons/link.html" with project_file=object.project_file %}
        {% endif %}


        {% if perms.data_integration.delete_project %}
            {% include "integration/drf/project/includes/buttons/unlink.html" with project=object %}
        {% endif %}
    </div>

{% endblock %}


{% block form_details %}

    <!-- Left Column, scrollable -->

    <div class="col h-100 px-4 overflow-auto">
        {% blocktranslate asvar title %}
            QGIS version used to save the project
        {% endblocktranslate %}
        <div class="mb-4" data-bs-toggle="tooltip"
             title="{{ title }}"
             aria-label="{{ title }}">
            <label class="form-text">Version</label>
            <div>
                {{ object.qgis_version|default_if_none:"unknown" }}</div>
        </div>
        {% blocktranslate asvar title %}
            Last time the QGIS project was changed on disk
        {% endblocktranslate %}
        <div class="mb-4" data-bs-toggle="tooltip"
             title="{{ title }}"
             aria-label="{{ title }}">
            <label class="form-text">{% trans 'Modification date' %}</label>
            <div>{{ object.qgis_project_file_modification_date|date:"r" }}</div>
        </div>
        {% blocktranslate asvar title %}
            Status information about the project
        {% endblocktranslate %}
        <div class="mb-4" data-bs-toggle="tooltip"
             title="{{ title }}"
             aria-label="{{ title }}">
            <label class="form-text">{% trans 'Status' %}</label>

            <div>
                {% include 'integration/drf/project/includes/pill.html' with project=object %}
            </div>
        </div>
    </div>
    <!-- Right Column, scrollable -->

    <div class="col h-100 px-4 overflow-auto">
        <h4>{% trans 'Datasources' %}</h4>
        <ul class="list-group list-group-flush">
            {% for ds in object.datasources_sorted_by_name %}
                <li class="list-group-item d-flex align-items-center gap-2">
                    <i class="{{ ds.icon }} text-primary" style="width: 1.5em;"></i>
                    <div
                            class="me-auto"
                            data-bs-toggle="tooltip"
                            title="{{ ds.qgis_layer_id }}"
                            aria-label="{{ ds.qgis_layer_id }}">
                        {{ ds.name }}
                    </div>
                    <div class="badge rounded-pill text-bg-primary">{{ ds.driver }}</div>
                </li>

            {% endfor %}

        </ul>
    </div>

{% endblock %}
