{% load static i18n %}
{% block list_nav %}
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <form id="filter-form" class="d-flex nav-item" hx-boost="true"
                  method="get"
                  action="{{ request.path }}"
                  hx-target="#list_body_partial"
                  hx-push-url="{% if breadcrumb_action and breadcrumb_action.type == 'linked' %}true{% else %}false{% endif %}">
                {% if ordering_context %}
                    {% block ordering_include %}
                        {% include 'core/drf/default/includes/ordering.html' %}
                    {% endblock %}
                {% endif %}
                {% if search_fields %}
                    {% block search_include %}
                        {% include 'core/drf/default/includes/search_htmx.html' %}
                    {% endblock %}
                {% endif %}
            </form>
        </div>
    </nav>
{% endblock %}

<div id="list_body_partial" class="h-100 d-flex flex-column overflow-hidden">
    {% include list_body_partial %}
</div>