{% load static i18n %}
{% block list_nav %}
    <nav class="navbar navbar-expand gap-4 flex-wrap">
        {% if search_fields %}
            <div class="nav-item">
                {% block search_include %}
                    {% include 'core/drf/default/includes/search_htmx.html' %}
                {% endblock %}
            </div>
        {% endif %}
        <form id="filter-form" class="nav-item d-flex" hx-boost="true"
              method="get"
              action="{{ request.path }}"
              hx-target="#list_body_partial"
              hx-push-url="{% if breadcrumb_action and breadcrumb_action.type == 'linked' %}true{% else %}false{% endif %}">
            {% if ordering_context %}
                {% block ordering_include %}
                    {% include 'core/drf/default/includes/ordering.html' %}
                {% endblock %}
            {% endif %}
        </form>
    </nav>
{% endblock %}

<div id="list_body_partial" class="h-100 d-flex flex-column overflow-hidden">
    {% include list_body_partial %}
</div>
