{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-theme-default="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#262626" media="(prefers-color-scheme: dark)">
    
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.overwrites.css' %}">
    <link rel="stylesheet" href="{% static 'css/georama.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  <title>Georama – Your Geospatial Data Hub</title>

  {% block extra_head %}{% endblock %}

</head>
<body>

{% block header %}
{% endblock %}


<div id="content">
    <main class="flex-grow-1">
        <section class="section-block py-3">
            <div class="container">
                <div id="breadcrumb-container" class="d-flex flex-row justify-content-between align-items-center">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        
                        {% block breadcrumbs %}

                            <!-- breadcrumbs -->
                            
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'landing' %}">Home</a></li>
                                {% for breadcrumb in breadcrumbs %}
                                    {% if forloop.last %}
                                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title }}</li>
                                    {% else %}
                                        <li class="breadcrumb-item"><a
                                        href="{% url breadcrumb.view_name %}">{{ breadcrumb.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                
                                <!-- Button as last element of breadcrumbs -->
                            
                                {% if breadcrumb_action_url %}
                                <li class="breadcrumb-item breadcrumb-action">
                                    <a href="{% url breadcrumb_action_url %}" class="btn btn-outline-primary" role="button">
                                        {% if breadcrumb_action_icon %}
                                            <i class="{{ breadcrumb_action_icon }}"></i>
                                            <span>{{ breadcrumb_action_title }}</span>
                                        {% else %}
                                            {{ breadcrumb_action_title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}

                            </ol>
                        {% endblock %}
                    </nav>

                    <!-- Button group on the right side -->
                
                    {% block list_actions %}
                    {% endblock %}
                
                </div>
            
            
                {% block content %}
                {% endblock %}
            
            </div>
        </section>
    </main>
</div>

<footer>
    <div class="">
        <hr>
        <div class="d-flex ps-2 pe-2">
            <small class="text-muted ms-auto">
                &copy; 2025 Georama. Made for geospatial developers.</small>

            <div class="small ms-auto">
                <a href="https://github.com/opengisch/georama"
                   target="_blank"
                   class="">Github</a>
                ·
                <a href="https://docs.georama.io"
                   target="_blank"
                   class="">Docs</a>
                ·
                <a href="#"
                   target="_blank"
                   class="">About</a>
            </div>
        </div>

    </div>
</footer>



<script src="{% static 'js/dark-mode-init.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/dark-mode.js' %}"></script>


<script>
    // Init bootstrap tooltips
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>


{% block extrajs %}
{% endblock %}

</body>
</html>
