{% extends 'core/entity_list.html' %}
{% load static i18n %}

{% block change_list_item %}
    <div class="list-group-item list-group-item-action p-4">

        <div class="d-flex flex-row flex-wrap">

            <!-- Thumbnail -->

            <div class="me-3">

                {% if item.config is None %}
                    <img src="{% static item.icon %}"
                             alt="{% trans 'QGIS Logo' %}"
                             class="rounded img-thumbnail preview-image"/>
                {% else %}
                    <a href="{% url 'data_integration:project-detail' item.parent.name item.name %}">
                        <img src="{% static item.icon %}"
                             alt="{% trans 'QGIS Logo' %}"
                             class="rounded img-thumbnail preview-image"/>
                    </a>
                {% endif %}
            </div>

            <!-- Title and description -->

            <div class="d-flex flex-column flex-grow-1 justify-content-around">

                <div>
                    {% if item.config is None %}
                        <h4 class="mb-2">{{ item.name }}</h4>
                    {% else %}
                        <a href="{% url 'data_integration:project-detail' item.parent.name item.name %}"
                           class="link-offset-3 link-underline link-underline-opacity-75">
                            <h4 class="mb-2">{{ item.name }}</h4>
                        </a>
                    {% endif %}
                    <div class="mb-1">{{ item.project_path_as_string }}</div>
                </div>

                <!-- Pills with project states -->

                <div class="align-content-bottom">
                    {% if item.database_representation %}
                        {% if item.hash == item.database_representation.hash %}

                            {% blocktranslate asvar title%}The QGIS project in Georama has the same state as on disk{% endblocktranslate %}
                            <span class="badge rounded-pill text-bg-primary"
                                  data-bs-toggle="tooltip"
                                  title="{{ title }}"
                                  aria-label="{{ title }}">up to date</span>
                        {% else %}

                            {% blocktranslate asvar title%}The QGIS project on disk has been changed, re-link to update the project{% endblocktranslate %}
                            <span class="badge rounded-pill text-bg-warning"
                                  title="{{ title }}"
                                  aria-label="{{ title }}">outdated</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- Buttons group with layer actions -->

            <div class="align-content-center ms-auto">
                <div class="btn-group" role="group" aria-label="Project actions">

                    {% blocktranslate asvar title%}Show QGIS project details and dataset list{% endblocktranslate %}
                    <a href="{% if item.config %}{% url 'data_integration:project-detail' item.parent.name item.name %}{% else %}#{% endif %}"
                       class="btn btn-outline-primary{% if item.config is None %} disabled{% endif %}" role="button"
                       title="{{ title }}"
                       aria-label="{{ title }}"
                       data-bs-toggle="tooltip">
                        <i class="fa fa-eye"></i>
                    </a>

                    {% if item.database_representation %}
                        {% blocktranslate asvar title%}Refresh QGIS project in Georama by loading it from disk{% endblocktranslate %}
                    {% else %}
                        {% blocktranslate asvar title%}Link QGIS project on disk in Georama{% endblocktranslate %}
                    {% endif %}
                    {% if perms.data_integration.edit_project or perms.data_integration.add_project %}
                        <a onclick="showWaitModalOverlay()"
                           href="{% url 'data_integration:project-export' item.parent.name item.name %}"
                           class="btn btn-outline-primary" role="button"
                           title="{{ title }}"
                           aria-label="{{ title }}"
                           data-bs-toggle="tooltip">
                            <i class="{% if item.database_representation %}fa fa-rotate{% else %}fa fa-link{% endif %}"></i>
                        </a>
                    {% endif %}
                    {% blocktranslate asvar title%}Remove QGIS project from Georama by unlinking it{% endblocktranslate %}

                    {% if perms.data_integration.delete_project %}
                        {% if item.database_representation %}
                            <a href="{% url 'data_integration:project-delete' item.database_representation.pk %}"
                               class="btn btn-outline-danger" role="button"
                               title="{{ title }}"
                               aria-label="{{ title }}"
                               data-bs-toggle="tooltip">
                                <i class="fa fa-unlink"></i>
                            </a>
                        {% else %}
                            <a href="#" class="btn btn-outline-danger disabled"
                               disabled tabindex="-1" role="button" aria-disabled="true"
                               title="{{ title }}"
                               aria-label="{{ title }}"
                               data-bs-toggle="tooltip">
                                <i class="fa fa-unlink"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}
