{% extends 'core/form.html' %}
{% load static i18n model_extras dataset_extras %}

{% block list_actions %}

    <div class="btn-group" role="group" aria-label="Project actions">

        {% if qgis_project.database_representation %}
            {% blocktranslate asvar title%}Refresh QGIS project in Georama by loading it from disk{% endblocktranslate %}
        {% else %}
            {% blocktranslate asvar title%}Link QGIS project on disk in Georama{% endblocktranslate %}
        {% endif %}

        <a onclick="showWaitModalOverlay()"
           href="{% url 'data_integration:export_qgis_project' qgis_project.parent.name qgis_project.name %}"
           class="btn btn-outline-primary" role="button"
           title="{{ title }}"
           aria-label="{{ title }}"
           data-toggle="tooltip" data-placement="top">
            <i class="{% if qgis_project.database_representation %}fa fa-rotate{% else %}fa fa-link{% endif %}"></i>
        </a>

        {% blocktranslate asvar title%}Remove QGIS project from Georama by unlinking it{% endblocktranslate %}

        {% if qgis_project.database_representation %}
            <a href="{% url 'data_integration:project_delete' qgis_project.database_representation.pk %}"
               class="btn btn-outline-danger" role="button"
               title="{{ title }}"
               aria-label="{{ title }}"
               data-toggle="tooltip" data-placement="top">
                <i class="fa fa-unlink"></i>
            </a>
        {% else %}
            <a href="#" class="btn btn-outline-danger disabled"
               disabled tabindex="-1" role="button" aria-disabled="true"
               title="{{ title }}"
               aria-label="{{ title }}"
               data-toggle="tooltip" data-placement="top">
                <i class="fa fa-unlink"></i>
            </a>
        {% endif %}
    </div>

{% endblock %}


{% block form_left %}

    <div class="mb-4" data-toggle="tooltip" data-placement="top"
         title="QGIS version used to save the project">
        <label class="form-text">Version</label>
        <div>
            {{ qgis_project_config.project.version|default_if_none:"unknown" }}</div>
    </div>

    <div class="mb-4" data-toggle="tooltip" data-placement="top"
         title="Last time the QGIS project was changed on disk">
        <label class="form-text">Modification date</label>
        <div>{{ qgis_project_config.meta_data.creationDateTime }}</div>
    </div>
    {% if qgis_project.database_representation is not None %}
    <div class="mb-4" data-toggle="tooltip" data-placement="top"
         title="{% help_text qgis_project.database_representation "integration_date" %}">
        <label class="form-text">{% verbose_name qgis_project.database_representation "integration_date" %}</label>
        <div>
            {{ qgis_project.database_representation.integration_date|date:"r" }}</div>
    </div>
    {% endif %}
{% endblock %}


{% block form_right %}

    <h4>Datasets</h4>
    <ul class="list-group list-group-flush">
        {% sort_dataset_list_by_title qgis_project_layers as sorted_qgis_project_layers %}
        {% for ds in sorted_qgis_project_layers %}
            <li class="list-group-item d-flex align-items-center gap-2">
                <i class="{%  icon_by_dataset ds %} text-primary"></i>
                <div class="me-auto">{{ ds.title }}</div>
                <div class="badge rounded-pill text-bg-primary">{{ ds.driver }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
