{% extends 'admin/change_list.html' %}
{% load i18n admin_list %}

{% block object-tools-items %}
    {{ block.super }}
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-bg-success" aria-hidden="true">{% trans 'Capabilities' %}</a>
            <div class="btn-group">
                {% blocktranslate asvar title %}Request the WMS capability document of this server{% endblocktranslate %}
                <a href="{{ wms_get_capabilities_url }}"
                   target="_blank" class="btn btn-success"
                   data-bs-toggle="tooltip"
                   title="{{ title }}"
                   aria-label="{{ title }}"
                   role="button">
                    <i class="fa-solid fa-map"></i>
                </a>
                {% blocktranslate asvar title %}Request the WFS capability document of this server{% endblocktranslate %}
                <a href="{{ wfs_get_capabilities_url }}"
                   target="_blank" class="btn btn-success"
                   data-bs-toggle="tooltip"
                   title="{{ title }}"
                   aria-label="{{ title }}"
                   role="button">
                    <i class="fa-solid fa-shapes"></i>
                </a>
            </div>
        </div>
    </nav>

{% endblock %}
