{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify jazzmin %}

{% block content_title %}

    <!-- Back button -->
    <a type="button" class="btn btn-primary mr-3" href="{% url 'admin:maps_publishedaswms_changelist' %}"
       data-toggle="tooltip" data-placement="bottom"
       title="{% trans 'back to layer list' %}">
        <i class="fa fa-arrow-left"></i></a>
    {{ opts.verbose_name|capfirst }}

{% endblock %}

{% block field_sets %}
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">

                <!-- Form header -->
                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="mb-3 mr-3">
                        <img src="{{ original.preview_as_base64 }}"
                             alt="{% trans 'WMS preview' %}" class="rounded img-thumbnail"
                             style="width: 130px;"/>
                    </div>
                    <div class="d-flex flex-column m-3">
                        <h4>{{ original }}</h4>
                        <h6>{{ original.name }}</h6>
                    </div>
                </div>
                
                {% get_changeform_template adminform as changeform_template %}
                {% include changeform_template %}
            </div>
        </div>
    </div>
{% endblock %}
