{% extends 'core/published_item_index.html' %}
{% load static i18n %}

{% block list_actions %}
    <a class="navbar-brand">{% trans 'WebGIS' %}</a>
    <div class="btn-group" role="group" aria-label="List Actions">
        {% blocktranslate asvar title%}Open WebGIS in new tab{% endblocktranslate %}
        <a href="{{ webgis_url }}"
           target="_blank"
           class="btn btn-outline-primary"
           data-bs-toggle="tooltip"
           title="{{title}}"
           aria-label="{{title}}"
           role="button"><i class="fa-solid fa-globe"></i></a>
    </div>
{% endblock %}


{% block item_card_image %}
<img src="{% if item.icon_as_base64 %}{{ item.icon_as_base64 }}{% else %}{{ item.icon_default }}{% endif %}"
     class="card-img-top p-3"
     alt="{% trans 'Theme icon' %}"
     data-bs-toggle="tooltip"
       title="{{ title }}"
       aria-label="{{ title }}"/>
{% endblock %}
