{% extends 'admin/base_site.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content border-bottom mb-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
                        <h1 class="h4 m-0 pr-3 mr-3"> Available Datasets </h1>
                    </div>
                </div>
            </div>
        </div>

        {% include "core/publish_searchbar.html" %}

        <!-- Tab Navigation -->
        <ul class="nav nav-tabs" id="datasetTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="vector-tab" data-toggle="tab" href="#vector" role="tab"
                   aria-controls="vector" aria-selected="true">
                    Vector Datasets
                </a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="datasetTabsContent">
            <div class="tab-pane fade active show" id="vector" role="tabpanel" aria-labelledby="vector-tab">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Project</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dataset, url in vector_datasets %}
                                    <tr class="even" role="row">
                                        <td>{{ dataset.name }}</td>
                                        <td>{{ dataset.title }}</td>
                                        <td>{{ dataset.project.name }}</td>
                                        <td><a href="{{ url }}" class="btn btn-high btn-success">publish</a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
