{% load i18n %}
<div class="d-flex align-items-center gap-2">
    <span class="text-muted">{% trans "sort by" %}</span>
    {% for field in ordering_context %}
        <button class="btn btn-outline-primary btn-sm" type="button"
                data-name="{{ field.name }}" data-sort="{{ field.direction }}"
                onclick="order(event)">
            {% if field.direction == "ascending" %}
                <i class="fa fa-sort-desc"></i>
            {% elif field.direction == "descending" %}
                <i class="fa fa-sort-asc"></i>
            {% else %}
                <i class="fa fa-sort"></i>
            {% endif %}
            {% trans field.label %}
        </button>
    {% endfor %}
</div>
<script>
    const ordering_context = {{ ordering_context_json|safe }};

    function order(event) {
        const e = event.target;
        if (ordering_context[e.dataset.name].direction === null) {
            ordering_context[e.dataset.name].direction = "ascending";
        } else if (ordering_context[e.dataset.name].direction === "descending"){
            ordering_context[e.dataset.name].direction = null;
        }
        else {
            ordering_context[e.dataset.name].direction = "descending";
        }
        request_order()
    }

    function request_order() {
        const url = new URL(window.location);
        const ordering = Object.values(ordering_context)
            .filter(item => item.direction === "ascending" || item.direction === "descending")
            .map(item => {
                return item.direction === "descending"
                    ? "-" + item.name
                    : item.name;
            })
            .join(",");
        if (ordering) {
            url.searchParams.set("{{ ordering_param }}", ordering);
        } else {
            url.searchParams.delete("{{ ordering_param }}");
        }

        window.location = url;
    }
</script>
