{% extends "core/drf/default/base_htmx.html" %}
{% load static i18n %}

{% block htmx_content %}

    <div class="h-100 d-flex flex-column overflow-hidden">

        <!-- Toolbar -->
        <nav class="navbar navbar-expand gap-4 flex-wrap me-3">

            <!-- Search -->
            <div class="nav-item d-flex">
                {% include "core/drf/default/includes/search_htmx.html" %}
            </div>

            <!-- Entity filters -->
            <div class="nav-item d-flex gap-2 align-items-center"
                 hx-boost="true"
                 hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
                 hx-push-url="{% if is_modal %}false{% else %}true{% endif %}">
                <span class="text-muted d-none d-lg-block">{%  trans "filter by" %}</span>

                <a href="{% url permissions_url_name object.pk %}{% querystring entity='groups' offset=None %}"
                   class="btn btn-outline-primary {% if permissions_entity_field == "groups" %} active {% endif %}"
                   role="button"
                   data-bs-toggle="tooltip"
                   title="{{ title }}"
                   aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                    {% trans "Groups" %}
                </a>

                {% blocktranslate asvar title %}Show list of user permissions{% endblocktranslate %}
                <a href="{% url permissions_url_name object.pk %}{% querystring entity='users' offset=None %}"
                   class="btn btn-outline-primary {% if permissions_entity_field == "users" %} active {% endif %}"
                   role="button"
                   data-bs-toggle="tooltip"
                   title="{{ title }}"
                   aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                    {% trans "Users" %}
                </a>
            </div>

            <!-- Bulk operations -->
            <div id="bulk-action-container" class="nav-item d-flex gap-2 align-items-center">

                <form method="post" id="bulk-action-form"
                      action="{% url permissions_url_name object.pk %}{% querystring %}"
                      hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                      hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
                      hx-swap="innerHTML">
                    {% csrf_token %}
                </form>

                <div class="dropdown">
                    <button
                            class="btn btn-outline-primary dropdown-toggle"
                            type="button"
                            id="bulk-action-dropdown"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-expanded="false"
                    >
                        <i class="fa fa-list"></i>
                        {% trans "Select bulk action" %}
                    </button>

                    <div class="dropdown-menu p-3" aria-labelledby="bulk-action-dropdown" style="z-index: 1050;">
                        {% for action_value, action_label in action_choices %}
                            <div class="dropdown-item form-check form-check-inline">
                                <input
                                        class="form-check-input ms-0 me-2"
                                        type="radio"
                                        id="bulk-action-{{ forloop.counter }}"
                                        name="action"
                                        value="{{ action_value }}"
                                        form="bulk-action-form"
                                >
                                <label class="form-check-label w-100"
                                       for="bulk-action-{{ forloop.counter }}">
                                    {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission=action_label apply_color=True%}
                                    <span class="ps-1">{%  trans action_label %}</span>
                                </label>
                            </div>
                        {% endfor %}
                        <button type="submit" form="bulk-action-form" class="btn btn-outline-primary mt-2 text-nowrap"
                                onclick="bootstrap.Dropdown.getOrCreateInstance(this.closest('.dropdown').querySelector('[data-bs-toggle=dropdown]')).hide()">
                            {% trans "Apply to selected entries" %}
                        </button>
                    </div>
                </div>
            </div>

            {% if permissions_entity_field == "users" %}
                {% blocktranslate asvar title %}Permission inherited from group{% endblocktranslate %}
                <div class="d-flex align-items-center ms-auto"
                     data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                    <a class="btn btn-outline-primary btn-permission inherited disabled px-1" disabled>
                        {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="view" %}
                    </a>
                    <div class="d-none d-xl-block text-muted small">= {{ title }}</div>
                </div>
            {% endif %}
        </nav>

        <!-- List (scroll area) -->
        <div class="d-flex flex-column flex-grow-1 flex-nowrap row m-0 overflow-auto mt-4">

            <!-- List header -->
            <div class="row p-2 border-bottom text-muted sticky-top bg-body"
                 hx-boost="true"
                 hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
                 hx-push-url="{% if is_modal %}false{% else %}true{% endif %}">

                <div class="col align-content-center">
                    <input
                            class="form-check-input me-3"
                            type="checkbox"
                            name="select"
                            value=""
                            aria-label="{% trans "Select all" %}"
                            id="bulk-select-all"
                            onchange="select_all()"
                    >
                    <span>{% trans "Name" %}</span>
                </div>

                <!-- Time granted -->
                <div class="col-2 d-lg-flex align-items-center">
                    {% blocktranslate asvar title %}Sort by the time access was granted{% endblocktranslate %}
                    <a href="{% url permissions_url_name object.pk %}{% if sort_by_latest %}{% querystring sort_by_latest=None %}{% else %}{% querystring sort_by_latest='1' offset=None %}{% endif %}"
                       class="btn btn-outline-primary btn-permission in-header {% if not sort_by_latest %} inactive {% endif %}"
                       role="button" data-bs-toggle="tooltip"
                       title="{{ title }}" aria-label="{{ title }}">
                        <i class="fa fa-sort"></i>
                    </a>
                    <span class="d-none d-lg-block">{% trans "Time granted" %}</span>
                </div>

                <!-- Permission column headers -->
                <div class="col-4 d-flex">
                    {% if 'can_view' in available_permissions %}
                        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                            {% blocktranslate asvar title %}Filter entries with view permission{% endblocktranslate %}
                            <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_view %}{% querystring filter_can_view=None %}{% else %}{% querystring filter_can_view='1' offset=None %}{% endif %}"
                               class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_view %} inactive {% endif %}"
                               role="button" data-bs-toggle="tooltip"
                               title="{{ title }}" aria-label="{{ title }}">
                                <i class="fa fa-filter"></i>
                            </a>
                            <span class="d-none d-lg-block">{% trans "View" %}</span>
                        </div>
                    {% endif %}

                    {% if 'can_create' in available_permissions %}
                        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                            {% blocktranslate asvar title %}Filter entries with create permission{% endblocktranslate %}
                            <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_create %}{% querystring filter_can_create=None %}{% else %}{% querystring filter_can_create='1' offset=None %}{% endif %}"
                               class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_create %} inactive {% endif %}"
                               role="button" data-bs-toggle="tooltip"
                               title="{{ title }}" aria-label="{{ title }}">
                                <i class="fa fa-filter"></i>
                            </a>
                            <span class="d-none d-lg-block">{% trans "Create" %}</span>
                        </div>
                    {% endif %}

                    {% if 'can_update' in available_permissions %}
                        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                            {% blocktranslate asvar title %}Filter entries with update permission{% endblocktranslate %}
                            <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_update %}{% querystring filter_can_update=None %}{% else %}{% querystring filter_can_update='1' offset=None %}{% endif %}"
                               class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_update %} inactive {% endif %}"
                               role="button" data-bs-toggle="tooltip"
                               title="{{ title }}" aria-label="{{ title }}">
                                <i class="fa fa-filter"></i>
                            </a>
                            <span class="d-none d-lg-block">{% trans "Update" %}</span>
                        </div>
                    {% endif %}

                    {% if 'can_delete' in available_permissions %}
                        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                            {% blocktranslate asvar title %}Filter entries with delete permission{% endblocktranslate %}
                            <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_delete %}{% querystring filter_can_delete=None %}{% else %}{% querystring filter_can_delete='1' offset=None %}{% endif %}"
                               class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_delete %} inactive {% endif %}"
                               role="button" data-bs-toggle="tooltip"
                               title="{{ title }}" aria-label="{{ title }}">
                                <i class="fa fa-filter"></i>
                            </a>
                            <span class="d-none d-lg-block">{% trans "Delete" %}</span>
                        </div>
                    {% endif %}
                </div>

                <div class="col-2"></div>

            </div>


            {% if object_list|length == 0 %}
                <div class="fs-4 text-center p-4">
                    {% trans "No items in this list" %}
                </div>
            {% endif %}


            {% for row in object_list %}

                <!-- Row -->
                <div class="row striped-row p-2 align-items-center">

                    <!-- User / group name and selector -->
                    <div class="col">
                        <input
                                class="form-check-input me-3"
                                type="checkbox"
                                form="bulk-action-form"
                                name="{{ permissions_entity_field }}"
                                value="{{ row.entity_id }}"
                                id="bulk-user-{{ row.entity_id }}"
                                onclick="toggle_bulk_action_visibility()"
                                hx-preserve="true"
                        >
                        <i class="fa fa-user text-muted me-1"></i>
                        <label class="form-check-label" for="bulk-user-{{ row.entity_id }}">
                            {{ row.entity_name }}
                        </label>
                    </div>

                    <!-- Time granted -->
                    {% if row.permission_time_created %}
                        <div class="col-2 d-none d-lg-block text-muted small text-truncate"
                             title="{{ row.permission_time_created|date:'DATETIME_FORMAT'|default_if_none:'' }}">
                            {% blocktranslate with t=row.permission_time_created|timesince %}{{ t }} ago{% endblocktranslate %}
                        </div>
                    {% else %}
                        <div class="col-2 text-muted small d-none d-lg-block"> - </div>
                    {% endif %}

                    <!-- Permission columns -->
                    <div class="col-4 d-flex">
                        {% if row.permission_time_created %}
                            {% if row.entity_permissions.can_view and 'can_view' in available_permissions %}
                                <div class="flex-grow-1 text-center">
                                    <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission disabled" disabled>
                                        {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="view" %}
                                    </button>
                                </div>
                            {% endif %}


                            {% if row.entity_permissions.can_view and 'can_create' in available_permissions %}
                                <div class="flex-grow-1 text-center">
                                    <form method="post"
                                          action="{% url permissions_url_name object.pk %}{% querystring %}"
                                          hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                                          hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
                                          hx-swap="innerHTML">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="{% if row.entity_permissions.can_create %}prevent_create{% else %}allow_create{% endif %}">
                                        <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                                        {% blocktranslate asvar title %}Toggle create permission{% endblocktranslate %}
                                    <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission {% if not row.entity_permissions.can_create %} inactive {% endif %}"
                                                data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                            {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="create" %}
                                        </button>
                                    </form>
                                </div>
                            {% endif %}


                            {% if row.entity_permissions.can_view and 'can_update' in available_permissions %}
                                <div class="flex-grow-1 text-center">
                                    <form method="post"
                                          action="{% url permissions_url_name object.pk %}{% querystring %}"
                                          hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                                          hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
                                          hx-swap="innerHTML">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="{% if row.entity_permissions.can_update %}prevent_update{% else %}allow_update{% endif %}">
                                        <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                                        {% blocktranslate asvar title %}Toggle update permission{% endblocktranslate %}
                                        <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission {% if not row.entity_permissions.can_update %} inactive {% endif %}"
                                                data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                            {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="update" %}
                                        </button>
                                    </form>
                                </div>
                            {% endif %}

                            {% if row.entity_permissions.can_view and 'can_delete' in available_permissions  %}
                                <div class="flex-grow-1 text-center">
                                    <form method="post"
                                          action="{% url permissions_url_name object.pk %}{% querystring %}"
                                          hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                                          hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
                                          hx-swap="innerHTML">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="{% if row.entity_permissions.can_delete %}prevent_delete{% else %}allow_delete{% endif %}">
                                        <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                                        {% blocktranslate asvar title %}Toggle delete permission{% endblocktranslate %}
                                        <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission {% if not row.entity_permissions.can_delete %} inactive {% endif %}"
                                                data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                            {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="delete" %}
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        {% else %}
                            <!-- List non-editable, inherited permissions -->
                            {% include "core/drf/default/includes/permissions_icon_set_readonly.html" with readonly_permission=row.inherited_permissions %}
                        {% endif %}
                    </div>


                    <!-- Grant / revoke button -->
                    <div class="col-2 text-center d-flex">
                        <form method="post" class="flex-grow-1"
                              action="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
                              hx-swap="innerHTML">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{% if row.entity_permissions.can_view %}revoke{% else %}grant{% endif %}">
                            <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                            {% if row.entity_permissions.can_view %}
                                {% blocktranslate asvar title %}Revoke all permissions{% endblocktranslate %}
                                <button type="submit" class="btn btn-outline-danger btn-permission"
                                        data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            {% else %}
                                {% if permissions_entity_field == "users" %}
                                    {% blocktranslate asvar title %}Override group permissions with individual user permissions{% endblocktranslate %}
                                    {% blocktranslate asvar textcontent %}Override{% endblocktranslate %}
                                {% else %}
                                    {% blocktranslate asvar title %}Grant access by adding view permission{% endblocktranslate %}
                                    {% blocktranslate asvar textcontent %}Grant{% endblocktranslate %}
                                {% endif %}
                                <button type="submit" class="btn btn-outline-primary btn-sm"
                                        data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                    <!-- Icon: Show on mobile only -->
                                    <i class="d-block d-lg-none fa fa-eye py-1 px-2"></i>
                                    <span class="d-none d-lg-flex text-nowrap">
                                        {{ textcontent }}
                                    </span>
                                </button>
                            {% endif %}
                        </form>

                        <!-- Toggler for inherited permissions -->
                        {% if permissions_entity_field == "users" %}
                            {% blocktranslate asvar title %}Toggle list of inherited group permissions{% endblocktranslate %}
                            <button class="btn btn-outline-primary btn-sm p-1 border-0"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#inherited-permissions-{{ row.entity_id }}"
                                    aria-expanded="false"
                                    aria-controls="inherited-permissions-{{ row.entity_id }}"
                                    title="{{ title }}" aria-label="{{ title }}"
                                    onclick="document.getElementById('inherited-toggle-icon-{{ row.entity_id }}').classList.toggle('fa-angle-down'); document.getElementById('inherited-toggle-icon-{{ row.entity_id }}').classList.toggle('fa-angle-up');">
                                <span class="fa-stack" style="width: 1em; height: 1em; line-height: 1em;">
                                    <i id="inherited-toggle-icon-{{ row.entity_id }}" class="fa fa-angle-down fa-stack-1x"></i>
                                    <span id="inherited-spinner-{{ row.entity_id }}" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" style="width: 1em; height: 1em;"></span>
                                </span>
                            </button>
                        {% endif %}
                    </div>

                    <!-- List of inherited permissions -->
                    {% if permissions_entity_field == "users" %}
                        <div id="inherited-permissions-{{ row.entity_id }}"
                             class="collapse px-0"
                             hx-get="{% url permissions_url_name object.pk %}{% querystring entity='groups' filter_user=row.entity_id filter_name=None offset=None %}"
                             hx-trigger="show.bs.collapse once"
                             hx-target="#inherited-permissions-{{ row.entity_id }}-content"
                             hx-swap="innerHTML"
                             hx-push-url="false"
                             hx-on::before-request="document.getElementById('inherited-toggle-icon-{{ row.entity_id }}').classList.add('d-none'); document.getElementById('inherited-spinner-{{ row.entity_id }}').classList.remove('d-none')"
                             hx-on::after-request="document.getElementById('inherited-spinner-{{ row.entity_id }}').classList.add('d-none'); document.getElementById('inherited-toggle-icon-{{ row.entity_id }}').classList.remove('d-none')">

                            <div id="inherited-permissions-{{ row.entity_id }}-content"></div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


    {% block pagination %}
        {% include "core/drf/default/includes/pagination_htmx.html" %}
    {% endblock %}


    <script>
        /**
         * Toggle the selection state of all rows of the permission list
         */
        function select_all() {
            const entityField = "{{ permissions_entity_field|escapejs }}";
            const selectAllCheckbox = document.getElementById('bulk-select-all');
            const entityCheckboxes = document.querySelectorAll(`input[type="checkbox"][name="${entityField}"]`);
            entityCheckboxes.forEach(checkbox => {
                checkbox.checked = selectAllCheckbox.checked;
            });
            toggle_bulk_action_visibility();
        }

        function toggle_bulk_action_visibility() {
            const entityField = "{{ permissions_entity_field|escapejs }}";
            const checkedEntityCheckboxes = document.querySelectorAll(`input[type="checkbox"][name="${entityField}"]:checked`);
            const bulkActionContainer = document.getElementById('bulk-action-container');
            if (Array.from(checkedEntityCheckboxes).length > 0) {
                bulkActionContainer.classList.remove('d-none');
            } else {
                bulkActionContainer.classList.add('d-none');
            }
        }

        toggle_bulk_action_visibility();

    </script>

{% endblock %}
