{% load static i18n %}

<!-- List header -->
<div class="row p-2 border-bottom text-muted sticky-top bg-body"
     hx-boost="true"
     hx-target="#permissions-list"
     hx-push-url="true">

    <div class="col align-content-center">
        <input
                class="form-check-input me-3"
                type="checkbox"
                name="select"
                value=""
                aria-label="{% trans "Select all" %}"
                id="bulk-select-all"
                onchange="select_all()"
        >
        <span>{% trans "Name" %}</span>
    </div>

    <!-- Time granted -->
    <div class="col-2 d-lg-flex align-items-center">
        {% blocktranslate asvar title %}Sort by the time access was granted{% endblocktranslate %}
        <a href="{% url permissions_url_name object.pk %}{% if sort_by_latest %}{% querystring sort_by_latest=None %}{% else %}{% querystring sort_by_latest='1' %}{% endif %}"
           class="btn btn-outline-primary btn-permission in-header {% if not sort_by_latest %} inactive {% endif %}"
           role="button" data-bs-toggle="tooltip"
           title="{{ title }}" aria-label="{{ title }}">
            <i class="fa fa-sort"></i>
        </a>
        <span class="d-none d-lg-block">{% trans "Time granted" %}</span>
    </div>

    <!-- Permission column headers -->
    <div class="col-4 d-flex">
        {% if 'can_view' in available_permissions %}
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                {% blocktranslate asvar title %}Filter entries with view permission{% endblocktranslate %}
                <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_view %}{% querystring filter_can_view=None %}{% else %}{% querystring filter_can_view='1' %}{% endif %}"
                   class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_view %} inactive {% endif %}"
                   role="button" data-bs-toggle="tooltip"
                   title="{{ title }}" aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                </a>
                <span class="d-none d-lg-block">{% trans "View" %}</span>
            </div>
        {% endif %}

        {% if 'can_create' in available_permissions %}
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                {% blocktranslate asvar title %}Filter entries with create permission{% endblocktranslate %}
                <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_create %}{% querystring filter_can_create=None %}{% else %}{% querystring filter_can_create='1' %}{% endif %}"
                   class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_create %} inactive {% endif %}"
                   role="button" data-bs-toggle="tooltip"
                   title="{{ title }}" aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                </a>
                <span class="d-none d-lg-block">{% trans "Create" %}</span>
            </div>
        {% endif %}

        {% if 'can_update' in available_permissions %}
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                {% blocktranslate asvar title %}Filter entries with update permission{% endblocktranslate %}
                <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_update %}{% querystring filter_can_update=None %}{% else %}{% querystring filter_can_update='1' %}{% endif %}"
                   class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_update %} inactive {% endif %}"
                   role="button" data-bs-toggle="tooltip"
                   title="{{ title }}" aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                </a>
                <span class="d-none d-lg-block">{% trans "Update" %}</span>
            </div>
        {% endif %}

        {% if 'can_delete' in available_permissions %}
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                {% blocktranslate asvar title %}Filter entries with delete permission{% endblocktranslate %}
                <a href="{% url permissions_url_name object.pk %}{% if permission_filters.can_delete %}{% querystring filter_can_delete=None %}{% else %}{% querystring filter_can_delete='1' %}{% endif %}"
                   class="btn btn-outline-primary btn-permission in-header {% if not permission_filters.can_delete %} inactive {% endif %}"
                   role="button" data-bs-toggle="tooltip"
                   title="{{ title }}" aria-label="{{ title }}">
                    <i class="fa fa-filter"></i>
                </a>
                <span class="d-none d-lg-block">{% trans "Delete" %}</span>
            </div>
        {% endif %}
    </div>

    <div class="col-2"></div>

</div>


{% if object_list|length == 0 %}
    <div class="fs-4 text-center p-4">
        {% trans "No items in this list" %}
    </div>
{% endif %}


{% for row in object_list %}

    <!-- Row -->
    <div class="row striped-row p-2 align-items-center">

        <!-- User / group name and selector -->
        <div class="col">
            <input
                    class="form-check-input me-3"
                    type="checkbox"
                    form="bulk-action-form"
                    name="{{ permissions_entity_field }}"
                    value="{{ row.entity_id }}"
                    id="bulk-user-{{ forloop.counter }}"
                    onclick="toggleBulkActionVisibility()"
            >
            <i class="fa fa-user text-muted me-1"></i>
            <label class="form-check-label" for="bulk-user-{{ forloop.counter }}">
                {{ row.entity_name }}
            </label>
        </div>

        <!-- Time granted -->
        {% if row.permission_time_created %}
            <div class="col-2 d-none d-lg-block text-muted small text-truncate"
                 title="{{ row.permission_time_created|date:'DATETIME_FORMAT'|default_if_none:'' }}">
                {% blocktranslate with t=row.permission_time_created|timesince %}{{ t }} ago{% endblocktranslate %}
            </div>
        {% else %}
            <div class="col-2 text-muted small d-none d-lg-block"> - </div>
        {% endif %}

        <!-- Permission columns -->
        <div class="col-4 d-flex">
            {% if row.permission_time_created %}
                {% if row.entity_permissions.can_view and 'can_view' in available_permissions %}
                    <div class="flex-grow-1 text-center">
                        <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission disabled" disabled>
                            {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="view" %}
                        </button>
                    </div>
                {% endif %}
    
    
                {% if row.entity_permissions.can_view and 'can_create' in available_permissions %}
                    <div class="flex-grow-1 text-center">
                        <form method="post"
                              action="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-target="#permissions-list"
                              hx-swap="innerHTML">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{% if row.entity_permissions.can_create %}prevent_create{% else %}allow_create{% endif %}">
                            <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                            {% blocktranslate asvar title %}Toggle create permission{% endblocktranslate %}
                        <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission {% if not row.entity_permissions.can_create %} inactive {% endif %}"
                                    data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="create" %}
                            </button>
                        </form>
                    </div>
                {% endif %}
    
    
                {% if row.entity_permissions.can_view and 'can_update' in available_permissions %}
                    <div class="flex-grow-1 text-center">
                        <form method="post"
                              action="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-target="#permissions-list"
                              hx-swap="innerHTML">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{% if row.entity_permissions.can_update %}prevent_update{% else %}allow_update{% endif %}">
                            <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                            {% blocktranslate asvar title %}Toggle update permission{% endblocktranslate %}
                            <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission {% if not row.entity_permissions.can_update %} inactive {% endif %}"
                                    data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="update" %}
                            </button>
                        </form>
                    </div>
                {% endif %}
    
                {% if row.entity_permissions.can_view and 'can_delete' in available_permissions  %}
                    <div class="flex-grow-1 text-center">
                        <form method="post"
                              action="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                              hx-target="#permissions-list"
                              hx-swap="innerHTML">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{% if row.entity_permissions.can_delete %}prevent_delete{% else %}allow_delete{% endif %}">
                            <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                            {% blocktranslate asvar title %}Toggle delete permission{% endblocktranslate %}
                            <button type="submit" class="p-1 px-lg-3 btn btn-outline-primary btn-permission {% if not row.entity_permissions.can_delete %} inactive {% endif %}"
                                    data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                                {% include 'core/drf/default/includes/buttons/permission_icon.html' with permission="delete" %}
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% else %}
                <!-- List non-editable, inherited permissions -->
                {% include "core/drf/default/includes/permissions_icon_set_readonly.html" with readonly_permission=row.inherited_permissions %}  
            {% endif %}
        </div>

        <div class="col-2 text-center d-flex">
            <form method="post" class="flex-grow-1"
                  action="{% url permissions_url_name object.pk %}{% querystring %}"
                  hx-post="{% url permissions_url_name object.pk %}{% querystring %}"
                  hx-target="#permissions-list"
                  hx-swap="innerHTML">
                {% csrf_token %}
                <input type="hidden" name="action" value="{% if row.entity_permissions.can_view %}revoke{% else %}grant{% endif %}">
                <input type="hidden" name="{{ permissions_entity_field }}" value="{{ row.entity_id }}">
                {% if row.entity_permissions.can_view %}
                    {% blocktranslate asvar title %}Revoke all permissions{% endblocktranslate %}
                    <button type="submit" class="btn btn-outline-danger btn-permission"
                            data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                        <i class="fa fa-trash"></i>
                    </button>
                {% else %}
                    {% blocktranslate asvar title %}Grant access by adding view permission{% endblocktranslate %}
                    <button type="submit" class="btn btn-outline-primary btn-sm"
                            data-bs-toggle="tooltip" title="{{ title }}" aria-label="{{ title }}">
                        <!-- Icon: Show on mobile only -->
                        <i class="d-block d-lg-none fa fa-eye py-1 px-2"></i>
                        <span class="d-none d-lg-flex text-nowrap">{{ btn_grant_access }}</span>
                    </button>
                {% endif %}
            </form>


            {% if permissions_entity_field == "users" %}
                {% blocktranslate asvar title %}Toggle list of inherited group permissions{% endblocktranslate %}
                <button class="btn btn-outline-primary btn-sm p-1 border-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#inherited-permissions-{{ row.entity_id }}"
                        aria-expanded="false"
                        aria-controls="inherited-permissions-{{ row.entity_id }}"
                        title="{{ title }}" aria-label="{{ title }}"
                        onclick="this.querySelector('i').classList.toggle('fa-angle-down'); this.querySelector('i').classList.toggle('fa-angle-up');">
                    <i class="fa fa-angle-down"></i>
                </button>
            {% endif %}
        </div>


        {% if permissions_entity_field == "users" %}
            <div id="inherited-permissions-{{ row.entity_id }}" class="collapse px-0">
                <div class="col">
                    {% include "core/drf/default/includes/permissions_inherited_htmx.html" with inherited=row.inherited_permissions %}
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}
