{% load i18n %}

<div id="search" class="nav-item"
     {% if oob == "true" %}hx-swap-oob="true"{% endif %}>

    <form id="list-nav-form"
          hx-get="{{ request.path }}{% querystring search=None offset=None %}"
          hx-target="#list_body_partial"
          hx-swap="innerHTML"
          hx-push-url="true"
          hx-trigger="keyup[key!='Enter'] changed delay:200ms from:#searchInput, submit"
          hx-sync="this:replace">
        
        <input id="searchInput" class="form-control me-2"
               name="{{ search_param }}"
               type="search"
               title="{{ search_fields_hint }}"
               data-bs-toggle="tooltip"
               placeholder={% trans 'Search term' %} aria-label={{ search_fields_hint }}
               value="{{ request.GET.search }}"
               hx-preserve="true">
    </form>
</div>
