{% load i18n model_extras %}

<div id="search{% if is_modal %}_modal{% endif %}" class="nav-item"
     {% if oob == "true" %}hx-swap-oob="true"{% endif %}>

    <form 
          hx-get="{{ request.path }}{% querystring_remove search_param 'offset' %}"
          hx-target="#list_partial{% if is_modal %}_modal{% endif %}"
          hx-swap="innerHTML"
          hx-push-url="{% if is_modal %}false{% else %}true{% endif %}"
          hx-trigger="keyup[key!='Enter'] changed delay:200ms from:(form input), search from:(form input), submit"
          hx-sync="this:replace">
        
        <input id="searchInput{% if is_modal %}_modal{% endif %}"
               class="form-control me-2"
               name="{{ search_param }}"
               type="search"
               title="{{ search_fields_hint }}"
               data-bs-toggle="tooltip"
               placeholder={% trans 'Search term' %} aria-label={{ search_fields_hint }}
               value="{{ search_term }}"
               hx-preserve="true">
    </form>
</div>
